Vjezba 4-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="narudzba">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="imeKupca" type="xs:string"/>
                <xs:element name="nazivProizvoda" type="xs:string"/>
                <xs:element name="kolicina">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cijena">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:decimal">
                                <xs:attribute name="valuta" type="xs:string" use="required" fixed="EUR"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="statusNarudzbe">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="nova"/>
                            <xs:enumeration value="u_obradi"/>
                            <xs:enumeration value="poslana"/>
                            <xs:enumeration value="isporucena"/>
                            <xs:enumeration value="otkazana"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
